@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Vivero el Prado</h1>
    
    <img src="https://th.bing.com/th/id/OIG.yLFiHVOfUcGboX1.3jsg?pid=ImgGn" class="img-fluid" alt="Vivero el Prado Logo" width="500" height="500">
</div>

<script>
    function mostrarSweetAlert() {

        Swal.fire('¡Hola!', 'Este es un ejemplo de SweetAlert en una página web.', 'success');
    }
</script>

